.notes-container {
    height: 400px;
    width: 700px;
    background: gray;
    border-radius: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.5px solid black;
}

.notes-list {
    width: 33%;
    height: 100%;
    background: #ff9900;
    border-right: 0.5px solid black;
    list-style-type: none;
}

.current-note-container {
    width: 67%;
    height: 100%;
    background: #f7fff7;
}

.listed-note {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 0.5px solid rgba(247, 255, 247, 0.5);
}

.listed-note-name {
    flex-basis: 85%;
    margin-left: 5%;
    color: #f7fff7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.delete-note {
    flex-basis: 10%;
    cursor: pointer;
}