.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    background: #f7fff7;
}

.add-event-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.todo-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.hidden {
    display: none;
}