.tasks-container {
    height: 550px;
    width: 400px;
    background: #ff9900;
    border-radius: 10px;
    display: flex;
    border: 0.5px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close-task {
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
}

.add-task-button {
    transform: translateY(20px);
    background: #e94d0b;
    border: none;
    height: 36px;
    width: 70px;
    color: #f7fff7;
    font-family: 'Abyssinica SIL';
    border-radius: 10px;
}

.add-task-button:hover {
    background: transparent;
    cursor: pointer;
    color: #343434;
    border: 2px solid #e94d0b;
}

.tasks-list {
    width: 70%;
    height: 75%;
    list-style-type: none;
    overflow-y: scroll;
    border: 1px #f7fff7 solid;
    border-radius: 15px;
}

.task-item {
    display: inline-block;
    width: 100%;
    text-align: start;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 0.5px solid rgba(247, 255, 247, 0.5);
}

.task-item .delete-button {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.task-item .delete-button-hidden {
    display: none;
}
  

.task-complete {
    background: #f7fff7;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    margin-left: 5%;
    cursor: pointer;
}

.task-incomplete {
    background: none;
    border: 1.5px solid #f7fff7;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    margin-left: 5%;
    cursor: pointer;
}

.task-title-complete {
    display: inline-block;
    margin-left: 20%;
    width: 80%;
    color: #f7fff7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-color:rgba(247, 255, 247, 0.9);
    cursor: pointer;
}

.task-title {
    display: inline-block;
    margin-left: 20%;
    width: 80%;
    color: #f7fff7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.add-todo-component {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.hide-todo-component {
    display: none;
}